---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        <li class="home_post_li_container">
          <div class="home_post_avatar_container">
          	<img class="home_post_avatar" src="/assets/images/author/{{ post.author }}.png" alt="{{ post.author }}'s Avatar">
          	<div class="home_post_author_name">{{ post.author }}</div>
          </div>
          <div class="home_post_content_container">
            <!-- Post Date -->
          	{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          	<div class="home_post_date">{{ post.date | date: date_format }}</div>
		  
		    <!-- Title -->
          	<div class="home_post_title">
            	<a class="home_post_title_link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          	</div>
          	
          	<!-- Post Preview -->
          	{% if post.preview %}
          		<div class="home_post_content">
          			{{ post.content | strip_html | truncatewords:75}}
          			<a class="home_post_read_more_link" href="{{ post.url | relative_url }}">Read more...</a>
          		</div>
          	{% endif %}
          	
          </div>
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>