---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
  
  	<!-- List Header -->
  	<div class="home_post_list_header">
  		<div class="home_post_list_header_text">
  			{{ page.list_title | default: "Posts" }}
  		</div>
  	
  		<a href="{{ "/feed.xml" | relative_url }}">
  			<img class="home_post_list_header_rss" src="/assets/images/icons/rss.png" alt="Subscribe via RSS" />
  		</a>
  	</div>
  
    <!-- List -->
    <ul class="post-list">
      {% for post in site.posts %}
        <li class="home_post_li_container">
          <div class="home_post_avatar_container">
          	<img class="home_post_avatar" src="/assets/images/author/{{ post.author }}.png" alt="{{ post.author }}'s Avatar">
          	<div class="home_post_author_name">{{ post.author }}</div>
          </div>
          <div class="home_post_content_container">
            <!-- Post Date -->
          	{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          	<div class="home_post_date">{{ post.date | date: date_format }}</div>
		  
		    <!-- Title -->
          	<div class="home_post_title">
            	<a class="home_post_title_link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          	</div>
          	
          	<!-- Post Preview -->
          	<div class="home_post_content">
          		{{ post.excerpt }}
          		<a class="home_post_read_more_link" href="{{ post.url | relative_url }}">[Read more]</a>
          	</div>
          	
          </div>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

</div>